.card {
  margin-top: 15px;
}

#footer {
  margin-bottom: 15px;
}

@media screen and (max-width: 1186px) {
  canvas {
    width: 900px !important;
  }
}

@media screen and (max-width: 992px) {
  canvas {
    width: 660px !important;
  }
}

@media screen and (max-width: 954px) {
  canvas {
    width: 650px !important;
  }
}

@media screen and (max-width: 767px) {
  canvas {
    width: 470px !important;
  }
}

@media screen and (max-width: 698px) {
  canvas {
    width: 470px !important;
  }
}

@media screen and (max-width: 650px) {
  canvas {
    width: 300px !important;
  }
}

@media screen and (max-width: 646px) {
  canvas {
    width: 470px !important;
  }
}

@media screen and (max-width: 522px) {
  canvas {
    width: 450px !important;
  }
}

@media screen and (max-width: 498px) {
  canvas {
    width: 420px !important;
  }
}

@media screen and (max-width: 470px) {
  canvas {
    width: 400px !important;
  }
}

@media screen and (max-width: 414px) {
  canvas {
    width: 340px !important;
  }
}

@media screen and (max-width: 411px) {
  canvas {
    width: 340px !important;
  }
}

@media screen and (max-width: 375px) {
  canvas {
    width: 300px !important;
  }
}

@media screen and (max-width: 320px) {
  canvas {
    width: 250px !important;
  }
}
